

#hero{
    background-color:white;
    padding: 0;
}

.well{
    color: #9c9c9c;
    height: 70px;
    background-color: rgb(37, 37, 37);
}

#image1{
    height: auto;
    width: 100%;
    margin: 0;
}

section{
    height: 500px;
    padding: 50px;
}

.w3-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tz-gallery{

}

.tz-gallery img{
    height: 450px;
    width: auto;
    padding: 20px;
}

#footer{
    display: flex;
    height:auto;;
    width: 100%;
    background-color:rgb(39, 38, 38);
    color: white;
    padding: 0;
}

.footer-copyright a{
    text-decoration: none;
    color: white;
}

.list-unstyled a{
    font-size: 10px;
    color: grey;
}

.col {
    padding:0 !important;
}

#namecard{ 
    background-color: rgb(241, 241, 241);
}

#namecard img{
    height: 80px;
    width: auto;
    margin-left: 30px;
}

section .container{
    padding: 1em;
    border-radius: .5em;
    height: 100%;
    width: 70%;
    box-shadow: -12px -12px 12px 0 rgb(255, 255, 255, .8),
    12px 12px 12px 0 rgb(0, 0, 0, .07);
}

#namecard2{ 
    display: flex;
    background-color: rgb(37, 37, 37);
    justify-content: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#namecard2 .container{

    padding: 1em;
    border-radius: 10em;
    height: 50%;
    width: 250px;
    box-shadow: -12px -12px 12px 0 rgb(255, 255, 255, .02),
    12px 12px 12px 0 rgb(0, 0, 0, .3);
}

.container h1{
    color: rgba(235, 55, 0, 0.76);
    text-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0);
    text-align: center;
    padding: 1em;
    font-family: 'Raleway' ;
    margin-top: 10%;
    font-weight: bolder;
}

.container p{
    color: rgb(83, 83, 83); 
    text-align: center;
}