

#hero{
    background-color:white;
    padding: 0;
}

#image1{
    height: 750px;
    width: 100%;
    margin: 0;
}

section{
    height: 500px;
    padding: 50px;
}

.w3-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tz-gallery{

}

.tz-gallery img{
    height: 260px;
    padding: 20px;
    box-shadow: 10px;
}

#footer{
    display: flex;
    height:auto;;
    width: 100%;
    background-color:rgb(39, 38, 38);
    color: white;
    padding: 0;
}

.footer-copyright a{
    text-decoration: none;
    color: white;
}

.list-unstyled a{
    font-size: 10px;
    color: grey;
}

.col {
    padding:0 !important;
}